@page "/"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Home> Localizer

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h4" Class="mb-4" Align="Align.Center">Israel Barbosa Silva</MudText>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">@Localizer["ResumeTitle"]</MudText>
            <MudText>
                <p>@Localizer["ResumeText1"] <b>@Localizer["Technologies"]</b></p>
                <p>@Localizer["ResumeText2"]</p>
                <p>@Localizer["ResumeText3"]</p>
            </MudText>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">@Localizer["HardSkills"]</MudText>
            <MudGrid>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Class="pa-2" Elevation="0">
                        <MudText Typo="Typo.subtitle1">@Localizer["Languages"]</MudText>
                        <MudList T="string" ReadOnly="true">
                            <MudListItem T="string" Text="C#" Icon="@Icons.Material.Filled.Code" />
                            <MudListItem T="string" Text="SQL" Icon="@Icons.Material.Filled.Code" />
                        </MudList>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Class="pa-2" Elevation="0">
                        <MudText Typo="Typo.subtitle1">Frameworks</MudText>
                        <MudList T="string" ReadOnly="true">
                            <MudListItem T="string" Text=".NET Core | .NET | ASP.NET Core" Icon="@Icons.Material.Filled.DeveloperBoard" />
                            <MudListItem T="string" Text="Windows Forms" Icon="@Icons.Material.Filled.DeveloperBoard" />
                            <MudListItem T="string" Text="Entity Framework" Icon="@Icons.Material.Filled.DeveloperBoard" />
                            <MudListItem T="string" Text="Blazor" Icon="@Icons.Material.Filled.DeveloperBoard" />
                        </MudList>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Class="pa-2" Elevation="0">
                        <MudText Typo="Typo.subtitle1">@Localizer["Tools"]</MudText>
                        <MudList T="string" ReadOnly="true">
                            <MudListItem T="string" Text="Git" Icon="@Icons.Material.Filled.Build" />
                            <MudListItem T="string" Text="Firebird" Icon="@Icons.Material.Filled.Build" />
                            <MudListItem T="string" Text="SQL Server" Icon="@Icons.Material.Filled.Build" />
                            <MudListItem T="string" Text="PostgreSQL" Icon="@Icons.Material.Filled.Build" />
                            <MudListItem T="string" Text="MySQL" Icon="@Icons.Material.Filled.Build" />
                        </MudList>
                    </MudPaper>
                </MudItem>
            </MudGrid>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5">@Localizer["ProfessionalExperience"]</MudText>
            <MudTimeline TimelinePosition="TimelinePosition.Start" TimelineAlign="TimelineAlign.Start">
                <MudTimelineItem Color="Color.Primary">
                    <MudText Typo="Typo.h6">@Localizer["SupportAnalyst"]</MudText>
                    <MudText Typo="Typo.subtitle1">Sge Automação e Serviços LTDA | 2018 - 2022</MudText>
                    <MudText>
                        <p>@Localizer["SupportAnalyst1"]</p>
                        <p>@Localizer["SupportAnalyst2"]</p>
                        <p>@Localizer["SupportAnalyst3"]</p>
                        <p>@Localizer["SupportAnalyst4"]</p>
                    </MudText>
                </MudTimelineItem>

                <MudTimelineItem Color="Color.Primary" Size="Size.Medium">
                    <MudText Typo="Typo.h6">@Localizer["NetDeveloper"]</MudText>
                    <MudText Typo="Typo.subtitle1">Sge Automação e Serviços LTDA | 2022 - Atualmente</MudText>
                    <MudText>
                        <MudText Typo="Typo.body1" Style="font-weight: bold;">@Localizer["Responsibilities"]:</MudText>
                        <p>@Localizer["Responsibility1"]</p>
                        <p>@Localizer["Responsibility2"]</p>
                        <p>@Localizer["Responsibility3"]</p>
                        <p>@Localizer["Responsibility4"]</p>
                        <p>@Localizer["Responsibility5"]</p>
                        <MudDivider Class="my-4" />
                        <MudText Typo="Typo.body1" Style="font-weight: bold;">@Localizer["Projects"]</MudText>
                        <p class="mb-4">@Localizer["Project1"]</p>
                        <p class="mb-4">@Localizer["Project2"]</p>
                        <p class="mb-4">@Localizer["Project3"]</p>
                        <p class="mb-4">@Localizer["Project4"]</p>
                        <p class="mb-4">@Localizer["Project5"]</p>
                    </MudText>
                </MudTimelineItem>
            </MudTimeline>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">@Localizer["Education"]</MudText>
            <MudList T="string" ReadOnly="true">
                <MudListItem T="string">
                    <MudText Typo="Typo.h6">@Localizer["DegreeName"]</MudText>
                    <MudText Typo="Typo.subtitle1">Universidade Federal do Maranhão (UFMA) | 2020 - 2026</MudText>
                    <MudText>
                        @Localizer["RelevantProjects"]:
                        <MudLink Target="_blank" Href="https://github.com/israel-bsi/realtyhub">@Localizer["RelevantProject1"]</MudLink>
                    </MudText>
                </MudListItem>
            </MudList>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">@Localizer["Certifications"]</MudText>
            <MudList T="string" ReadOnly="true">
                <MudListItem T="string">
                    <MudLink Typo="Typo.h6" Target="_blank" Href="https://www.freecodecamp.org/certification/israelbsi/foundational-c-sharp-with-microsoft">
                        Foundational C# with Microsoft - freeCodeCamp
                    </MudLink>
                    <MudText Typo="Typo.subtitle1">freeCodeCamp.org | Microsoft | 2025</MudText>
                </MudListItem>
            </MudList>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">@Localizer["LanguageSpeak"]</MudText>
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudPaper Class="pa-2" Elevation="0">
                        <MudList T="string" ReadOnly="true">
                            <MudListItem T="string" Text="@Localizer["LanguageSpeak1"]" Icon="@Icons.Material.Filled.Language" />
                            <MudListItem T="string" Text="@Localizer["LanguageSpeak2"]" Icon="@Icons.Material.Filled.Language" />
                        </MudList>
                    </MudPaper>
                </MudItem>
            </MudGrid>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">@Localizer["Contact"]</MudText>
            <MudGrid>
                <MudItem xs="12" sm="6" md="8">
                    <MudText>
                        @Localizer["TextToContact"] <MudLink Href="mailto:israelsilvadev3@gmail.com">israelsilvadev3@gmail.com</MudLink>
                    </MudText>
                    <MudPaper Class="pa-2" Elevation="0">
                        <MudButton Href="https://www.linkedin.com/in/israelbsilva/"
                                   StartIcon="@Icons.Custom.Brands.LinkedIn"
                                   Variant="Variant.Outlined"
                                   Target="_blank">
                            <MudText>
                                LinkedIn
                            </MudText>
                        </MudButton>
                        <MudButton Class="ml-4"
                                   Href="https://github.com/israel-bsi"
                                   StartIcon="@Icons.Custom.Brands.GitHub"
                                   Variant="Variant.Outlined"
                                   Target="_blank">
                            <MudText>
                                GitHub
                            </MudText>
                        </MudButton>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>
</MudGrid>