@page "/"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Home> Localizer

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h4" Class="mb-4" Align="Align.Center">Israel Barbosa Silva</MudText>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">@Localizer["ResumeTitle"]</MudText>
            <MudText>
                <p>@Localizer["ResumeText1"]</p>
                <p>@Localizer["ResumeText2"]</p>
                <p>@Localizer["ResumeText3"]</p>
            </MudText>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">@Localizer["HardSkills"]</MudText>
            <MudGrid>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Class="pa-2" Elevation="0">
                        <MudText Typo="Typo.subtitle1">@Localizer["Languages"]</MudText>
                        <MudList T="string" ReadOnly="true">
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <i class="devicon-csharp-plain colored" style="font-size: 1.5em;"></i>
                                    <MudText>C#</MudText>
                                </MudStack>
                            </MudListItem>
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <i class="devicon-java-plain colored" style="font-size: 1.5em;"></i>
                                    <MudText>Java</MudText>
                                </MudStack>
                            </MudListItem>
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <i class="devicon-azuresqldatabase-plain colored" style="font-size: 1.5em;"></i>
                                    <MudText>SQL</MudText>
                                </MudStack>
                            </MudListItem>
                        </MudList>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Class="pa-2" Elevation="0">
                        <MudText Typo="Typo.subtitle1">Frameworks</MudText>
                        <MudList T="string" ReadOnly="true">
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <i class="devicon-dotnetcore-plain colored" style="font-size: 1.5em;"></i>
                                    <MudText>.NET Core | .NET | ASP.NET Core</MudText>
                                </MudStack>
                            </MudListItem>
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <i class="devicon-windows8-original colored" style="font-size: 1.5em;"></i>
                                    <MudText>Windows Forms</MudText>
                                </MudStack>
                            </MudListItem>
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <i class="devicon-entityframeworkcore-plain colored" style="font-size: 1.5em;"></i>
                                    <MudText>Entity Framework Core</MudText>
                                </MudStack>
                            </MudListItem>
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <i class="devicon-blazor-original colored" style="font-size: 1.5em;"></i>
                                    <MudText>Blazor</MudText>
                                </MudStack>
                            </MudListItem>
                        </MudList>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Class="pa-2" Elevation="0">
                        <MudText Typo="Typo.subtitle1">@Localizer["Tools"]</MudText>
                        <MudList T="string" ReadOnly="true">
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <i class="devicon-git-plain colored" style="font-size: 1.5em;"></i>
                                    <MudText>Git</MudText>
                                </MudStack>
                            </MudListItem>
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <i class="devicon-dbeaver-plain colored" style="font-size: 1.5em;"></i>
                                    <MudText>Dbeaver</MudText>
                                </MudStack>
                            </MudListItem>
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <i class="devicon-microsoftsqlserver-plain colored" style="font-size: 1.5em;"></i>
                                    <MudText>SQL Server</MudText>
                                </MudStack>
                            </MudListItem>
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <i class="devicon-postgresql-plain colored" style="font-size: 1.5em;"></i>
                                    <MudText>PostgreSQL</MudText>
                                </MudStack>
                            </MudListItem>
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <i class="devicon-mysql-plain colored" style="font-size: 1.5em;"></i>
                                    <MudText>MySQL</MudText>
                                </MudStack>
                            </MudListItem>
                        </MudList>
                    </MudPaper>
                </MudItem>
            </MudGrid>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5">@Localizer["ProfessionalExperience"]</MudText>
            <MudTimeline TimelinePosition="TimelinePosition.Start" TimelineAlign="TimelineAlign.Start">

                <MudTimelineItem Color="Color.Primary">
                    <MudText Typo="Typo.h6">@Localizer["SupportAnalyst"]</MudText>
                    <MudText Typo="Typo.subtitle1">Sge Automação e Serviços | @Localizer["Month7"] 2018 - @Localizer["Month5"] 2022</MudText>
                    <MudText>
                        <p>@Localizer["SupportAnalyst1"]</p>
                        <p>@Localizer["SupportAnalyst2"]</p>
                        <p>@Localizer["SupportAnalyst3"]</p>
                        <p>@Localizer["SupportAnalyst4"]</p>
                    </MudText>
                </MudTimelineItem>

                <MudTimelineItem Color="Color.Primary">
                    <MudText Typo="Typo.h6">@Localizer["NetDeveloper"]</MudText>
                    <MudText Typo="Typo.subtitle1">Sge Automação e Serviços | @Localizer["Month5"] 2022 - @Localizer["Month8"] 2025</MudText>
                    <MudText>
                        <MudText Typo="Typo.body1" Style="font-weight: bold;">@Localizer["Responsibilities"]:</MudText>
                        <p>@Localizer["Responsibility1"]</p>
                        <p>@Localizer["Responsibility2"]</p>
                        <p>@Localizer["Responsibility3"]</p>
                        <p>@Localizer["Responsibility4"]</p>
                        <p>@Localizer["Responsibility5"]</p>
                        <MudDivider Class="my-2"/>
                        <MudText Typo="Typo.body1" Style="font-weight: bold;">@Localizer["Projects"]</MudText>
                        <p>@Localizer["Project1"]</p>
                        <p>@Localizer["Project2"]</p>
                        <p>@Localizer["Project3"]</p>
                        <p>@Localizer["Project4"]</p>
                        <p>@Localizer["Project5"]</p>
                    </MudText>
                </MudTimelineItem>

                <MudTimelineItem Color="Color.Primary">
                    <MudText Typo="Typo.h6">@Localizer["NetDeveloper"]</MudText>
                    <MudText Typo="Typo.subtitle1">CRP Tecnologia | @Localizer["Month7"] 2025 - @Localizer["Current"]</MudText>
                    <MudText>
                        <p>@Localizer["CrpTecnologia1"]</p>
                    </MudText>
                </MudTimelineItem>
            </MudTimeline>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">@Localizer["Education"]</MudText>
            <MudList T="string" ReadOnly="true">
                <MudListItem T="string">
                    <MudText Typo="Typo.h6">@Localizer["DegreeName"]</MudText>
                    <MudText Typo="Typo.subtitle1">Universidade Federal do Maranhão (UFMA) | 2020 - 2026</MudText>
                    <MudText>
                        @Localizer["RelevantProjects"]:
                        <MudLink Target="_blank" Href="https://github.com/israel-bsi/realtyhub">@Localizer["RelevantProject1"]</MudLink>
                    </MudText>
                </MudListItem>
            </MudList>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">@Localizer["Certifications"]</MudText>
            <MudList T="string" ReadOnly="true">
                <MudListItem T="string">
                    <MudLink Typo="Typo.h6" Target="_blank" Href="https://www.freecodecamp.org/certification/israelbsi/foundational-c-sharp-with-microsoft">
                        Foundational C# with Microsoft - freeCodeCamp
                    </MudLink>
                    <MudText Typo="Typo.subtitle1">freeCodeCamp.org | Microsoft | 2025</MudText>
                </MudListItem>
            </MudList>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">@Localizer["LanguageSpeak"]</MudText>
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudPaper Class="pa-2" Elevation="0">
                        <MudList T="string" ReadOnly="true">
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <span class="fi fi-br" style="font-size: 1.5em;"></span>
                                    <MudText>@Localizer["LanguageSpeak1"]</MudText>
                                </MudStack>
                            </MudListItem>
                            <MudListItem T="string">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                                    <span class="fi fi-us" style="font-size: 1.5em;"></span>
                                    <MudText>@Localizer["LanguageSpeak2"]</MudText>
                                </MudStack>
                            </MudListItem>
                        </MudList>
                    </MudPaper>
                </MudItem>
            </MudGrid>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">@Localizer["Contact"]</MudText>
            <MudGrid>
                <MudItem xs="12" sm="6" md="8">
                    <MudText>
                        @Localizer["TextToContact"] <MudLink Href="mailto:israelbsi.solucoes@gmail.com">israelbsi.solucoes@gmail.com</MudLink>
                    </MudText>
                    <MudPaper Class="pa-2" Elevation="0">
                        <MudButton Href="https://www.linkedin.com/in/israelbsilva/"
                                   StartIcon="@Icons.Custom.Brands.LinkedIn"
                                   Variant="Variant.Outlined"
                                   Target="_blank">
                            <MudText>
                                LinkedIn
                            </MudText>
                        </MudButton>
                        <MudButton Class="ml-4"
                                   Href="https://github.com/israel-bsi"
                                   StartIcon="@Icons.Custom.Brands.GitHub"
                                   Variant="Variant.Outlined"
                                   Target="_blank">
                            <MudText>
                                GitHub
                            </MudText>
                        </MudButton>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>
</MudGrid>